article.post
    header
        .title
            h2 This is an article/card
            p Optionally, we can have this subtitle area here. It can be a few sentances long without looking bad. Can be removed to make it smaller and add more space.
        .meta
            time.published(datetime='2015-11-01') November 1, 2015
    p
        | Here's a few ideas of things we can add or change:
        ul
            li Each article/card can be made smaller (less spacing around title etc)
            li If given a small photo, I can create a template for the article's top right corner to represent person who posted, or person who is in charge of the seminar or whatever. (see article/card below top right area where it says Jane Doe).
            li 
                | I can remove the left sidebar since it takes up a lot of space (
                a(href="/nosidebar") click here 
                | to see how it would look without it). Go back in browser to revert. In any case, I would probably remove it at first until we have a few months worth of content on the site.
            li Any ideas for a logo are welcome. My first thought is Lambda on a Shield. If we remove the sidebar, it can be added to the top left of the page, where the title is.
            li I would normally remove the top right search and ||| menu since I don't know what to do with it. We can find ideas later, as we get more content.
    p
        | The file needs to be uploaded to a github under as a certain filename. Then the page would update itself.
        | The source of this page is 
        a(href="") here
        | .