article.post
    header
        .title
            h2
                a(href='#') Euismod et accumsan
            p Lorem ipsum dolor amet nullam consequat etiam feugiat
        .meta
            time.published(datetime='2015-10-22') October 22, 2015
            a.author(href='#')
                span.name Jane Doe
                img(src='images/avatar.jpg', alt='')
    a.image.featured(href='#')
        img(src='images/pic03.jpg', alt='')
    p
        | Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Cras vehicula tellus eu ligula viverra, ac fringilla turpis suscipit. Quisque vestibulum rhoncus ligula.
    footer
        ul.actions
            li
                a.button.big(href='#') Continue Reading
        ul.stats
            li
                a(href='#') General
            li
                a.icon.fa-heart(href='#') 28
            li
                a.icon.fa-comment(href='#') 128