article.post
    header
        .title
            h2
                a(href='#') Elements
            p Lorem ipsum dolor amet nullam consequat etiam feugiat
        .meta
            time.published(datetime='2015-10-18') October 18, 2015
            a.author(href='#')
                span.name Jane Doe
                img(src='images/avatar.jpg', alt='')
    section
        h3 Text
        p
            | This is 
            b bold
            |    and this is 
            strong strong
            | . This is 
            i italic
            |    and this is 
            em emphasized
            | .
            | 									This is 
            sup superscript
            |    text and this is 
            sub subscript
            |    text.
            | 									This is 
            u underlined
            |    and this is code: 
            code for (;;) { ... }
            | . Finally, 
            a(href='#') this is a link
            | .
        hr
        p
            | Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.
        hr
        h2 Heading Level 2
        h3 Heading Level 3
        h4 Heading Level 4
        hr
        h4 Blockquote
        blockquote
            | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.
        h4 Preformatted
        pre i = 0;
                | while (!deck.isInOrder()) {
                |     print 'Iteration ' + i;
                |     deck.shuffle();
                |     i++;
                | }
                | print 'It took ' + i + ' iterations to sort the deck.';
    section
        h3 Lists
        .row
            .6u(class='12u$(medium)')
                h4 Unordered
                ul
                    li Dolor pulvinar etiam.
                    li Sagittis adipiscing.
                    li Felis enim feugiat.
                h4 Alternate
                ul.alt
                    li Dolor pulvinar etiam.
                    li Sagittis adipiscing.
                    li Felis enim feugiat.
            div(class='6u$ 12u$(medium)')
                h4 Ordered
                ol
                    li Dolor pulvinar etiam.
                    li Etiam vel felis viverra.
                    li Felis enim feugiat.
                    li Dolor pulvinar etiam.
                    li Etiam vel felis lorem.
                    li Felis enim et feugiat.
                h4 Icons
                ul.icons
                    li
                        a.icon.fa-twitter(href='#')
                            span.label Twitter
                    li
                        a.icon.fa-facebook(href='#')
                            span.label Facebook
                    li
                        a.icon.fa-instagram(href='#')
                            span.label Instagram
                    li
                        a.icon.fa-github(href='#')
                            span.label Github
        h3 Actions
        .row
            .6u(class='12u$(medium)')
                ul.actions
                    li
                        a.button(href='#') Default
                    li
                        a.button(href='#') Default
                    li
                        a.button(href='#') Default
                ul.actions.small
                    li
                        a.button.small(href='#') Small
                    li
                        a.button.small(href='#') Small
                    li
                        a.button.small(href='#') Small
                ul.actions.vertical
                    li
                        a.button(href='#') Default
                    li
                        a.button(href='#') Default
                    li
                        a.button(href='#') Default
                ul.actions.vertical.small
                    li
                        a.button.small(href='#') Small
                    li
                        a.button.small(href='#') Small
                    li
                        a.button.small(href='#') Small
            .6u(class='12u$(medium)')
                ul.actions.vertical
                    li
                        a.button.fit(href='#') Default
                    li
                        a.button.fit(href='#') Default
                ul.actions.vertical.small
                    li
                        a.button.small.fit(href='#') Small
                    li
                        a.button.small.fit(href='#') Small
    section
        h3 Table
        h4 Default
        .table-wrapper
            table
                thead
                    tr
                        th Name
                        th Description
                        th Price
                tbody
                    tr
                        td Item One
                        td Ante turpis integer aliquet porttitor.
                        td 29.99
                    tr
                        td Item Two
                        td Vis ac commodo adipiscing arcu aliquet.
                        td 19.99
                    tr
                        td Item Three
                        td    Morbi faucibus arcu accumsan lorem.
                        td 29.99
                    tr
                        td Item Four
                        td Vitae integer tempus condimentum.
                        td 19.99
                    tr
                        td Item Five
                        td Ante turpis integer aliquet porttitor.
                        td 29.99
                tfoot
                    tr
                        td(colspan='2')
                        td 100.00
        h4 Alternate
        .table-wrapper
            table.alt
                thead
                    tr
                        th Name
                        th Description
                        th Price
                tbody
                    tr
                        td Item One
                        td Ante turpis integer aliquet porttitor.
                        td 29.99
                    tr
                        td Item Two
                        td Vis ac commodo adipiscing arcu aliquet.
                        td 19.99
                    tr
                        td Item Three
                        td    Morbi faucibus arcu accumsan lorem.
                        td 29.99
                    tr
                        td Item Four
                        td Vitae integer tempus condimentum.
                        td 19.99
                    tr
                        td Item Five
                        td Ante turpis integer aliquet porttitor.
                        td 29.99
                tfoot
                    tr
                        td(colspan='2')
                        td 100.00
    section
        h3 Buttons
        ul.actions
            li
                a.button.big(href='#') Big
            li
                a.button(href='#') Default
            li
                a.button.small(href='#') Small
        ul.actions.fit
            li
                a.button.fit(href='#') Fit
            li
                a.button.fit(href='#') Fit
            li
                a.button.fit(href='#') Fit
        ul.actions.fit.small
            li
                a.button.fit.small(href='#') Fit + Small
            li
                a.button.fit.small(href='#') Fit + Small
            li
                a.button.fit.small(href='#') Fit + Small
        ul.actions
            li
                a.button.icon.fa-download(href='#') Icon
            li
                a.button.icon.fa-upload(href='#') Icon
            li
                a.button.icon.fa-save(href='#') Icon
        ul.actions
            li
                span.button.disabled Disabled
            li
                span.button.disabled.icon.fa-download Disabled
    section
        h3 Form
        form(method='post', action='#')
            .row.uniform
                .6u(class='12u$(xsmall)')
                    input#demo-name(type='text', name='demo-name', value='', placeholder='Name')
                div(class='6u$ 12u$(xsmall)')
                    input#demo-email(type='email', name='demo-email', value='', placeholder='Email')
                div(class='12u$')
                    .select-wrapper
                        select#demo-category(name='demo-category')
                            option(value='') - Category -
                            option(value='1') Manufacturing
                            option(value='1') Shipping
                            option(value='1') Administration
                            option(value='1') Human Resources
                .4u(class='12u$(small)')
                    input#demo-priority-low(type='radio', name='demo-priority', checked='')
                    label(for='demo-priority-low') Low
                .4u(class='12u$(small)')
                    input#demo-priority-normal(type='radio', name='demo-priority')
                    label(for='demo-priority-normal') Normal
                div(class='4u$ 12u$(small)')
                    input#demo-priority-high(type='radio', name='demo-priority')
                    label(for='demo-priority-high') High
                .6u(class='12u$(small)')
                    input#demo-copy(type='checkbox', name='demo-copy')
                    label(for='demo-copy') Email me a copy
                div(class='6u$ 12u$(small)')
                    input#demo-human(type='checkbox', name='demo-human', checked='')
                    label(for='demo-human') Not a robot
                div(class='12u$')
                    textarea#demo-message(name='demo-message', placeholder='Enter your message', rows='6')
                div(class='12u$')
                    ul.actions
                        li
                            input(type='submit', value='Send Message')
                        li
                            input(type='reset', value='Reset')
    section
        h3 Image
        h4 Fit
        .box.alt
            .row.uniform
                div(class='12u$')
                    span.image.fit
                        img(src='images/pic02.jpg', alt='')
                .4u
                    span.image.fit
                        img(src='images/pic04.jpg', alt='')
                .4u
                    span.image.fit
                        img(src='images/pic05.jpg', alt='')
                div(class='4u$')
                    span.image.fit
                        img(src='images/pic06.jpg', alt='')
                .4u
                    span.image.fit
                        img(src='images/pic06.jpg', alt='')
                .4u
                    span.image.fit
                        img(src='images/pic04.jpg', alt='')
                div(class='4u$')
                    span.image.fit
                        img(src='images/pic05.jpg', alt='')
                .4u
                    span.image.fit
                        img(src='images/pic05.jpg', alt='')
                .4u
                    span.image.fit
                        img(src='images/pic06.jpg', alt='')
                div(class='4u$')
                    span.image.fit
                        img(src='images/pic04.jpg', alt='')
        h4 Left & Right
        p
            span.image.left
                img(src='images/pic07.jpg', alt='')
            | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
        p
            span.image.right
                img(src='images/pic04.jpg', alt='')
            | Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.
